<div class="nav" [ngStyle]="estiloNav">
    <div class="nav-title">
        <p>Franco Donato</p>
    </div>
    <div class="nav-btns">
        <a href="#inicio"><button class="nav-btn">Inicio</button></a>
        <!--<button class="nav-btn">Portfolio</button>-->
        <a href="#habilidades"><button class="nav-btn">Habilidades</button></a>
        <a href="#contacto"><button class="nav-btn">Contacto</button></a>
    </div>
    <div class="nav-menu">
        <i class="fas fa-bars" [ngStyle]="estiloBtnMenu" (click)="mostrarMenu()"></i>
        <div class="btns-menu" [ngStyle]="estiloMenu">
            <a href="#inicio"><div  class="btn-menu" (click)="cerrarMenu()">Inicio</div></a><div class="exit-menu"><i class="fas fa-times" (click)="cerrarMenu()"></i></div>
            <a href="#habilidades"><div class="btn-menu" (click)="cerrarMenu()">Habilidades</div></a>
            <a href="#contacto"><div class="btn-menu" (click)="cerrarMenu()">Contacto</div></a>
        </div>
    </div>
</div>