.nav{
    top: 0;
    position: fixed;
    width: 100%;
    width: 100vw;  
    display: flex;
    margin: 0;
    height: 7vh;
    border-bottom-right-radius: 5vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .35);  
    backdrop-filter: blur(5px);
    z-index: 10;
}

.nav-title{
    display: flex;
    margin-left: 1%;
    align-self: center;
    font-weight: bold;
    font-size: 5vh;
    border-right: 2px solid rgba(255,255,255,.75);
    overflow: hidden;
    cursor: pointer;
    animation: typewriter 4s steps(13, start) 1s infinite alternate,
              blinkTextCursor 500ms steps(44) infinite normal;
}

.nav-title p{
    color: var(--blacky);
    text-shadow: 2px 2px 2px #fff, 0 0 0 #000, -1px -1px 0px rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}

.nav-btns{
    display: flex;
    margin-right: 1vw;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav-btn{
    transition: 0.3s 0.1s;
    display: flex;
    font-size: 3vh;
    height: 5vh;
    align-items: center;
    margin: 0.5vw;
    padding: 0 5px;
    color: var(--blacky);
    border-radius: 2vh;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(5px);
}

.nav-btn:hover{
    transform: scale(1.05);
    color: whitesmoke;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0px);
    box-shadow: 0px 2px 8px 1px var(--blacky);
}

//animaciones

@keyframes typewriter{
    from{width: 0;}
    to{width: 8.15em;}
}

@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.nav-menu{
    display: none;
    visibility: hidden;
}

//media queries

@media (max-width: 768px) {
    .nav{
        border-bottom-right-radius: 0px;
    }

    .nav-btns{
        display: none;
    }

    .nav-menu{
        display: flex;
        visibility: visible;
        margin-right: 4%;
        justify-content: flex-end;
        align-self: center;
        font-size: 2em;
        font-weight: bold;
    }

    .nav-menu i{
        cursor: pointer;
    }
    
    .btns-menu{
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);  
        backdrop-filter: blur(5px);
        width: 100%;
        left: 100%;
        transition: all 0.5s;
    }

    .btn-menu{
        display: flex;
        justify-content: center;
        color: var(--ivory);
        padding: 0.5em;
    }

    .btn-menu:hover{
        background-color: rgba(255, 255, 255, .50);  
        backdrop-filter: blur(5px);
        cursor: pointer;
    }

    .exit-menu{
        position: absolute;
        right: 4%;
        top: 0;
        font-size: 1.2em;
    }
    .icon-menu{
        color: var(--blacky);
    }
    .icon-cancel{
        color: var(--ivory);
    }
 }

 @media (max-width: 480px) {
     .nav-title{
         font-size: 4vh;
     }
 }