<div class="nav" [ngStyle]="estiloNav">
    <div class="nav-title">
        <p>Franco Donato</p>
    </div>
    <div class="nav-btns">
        <a href="https://www.francodonato.tk/#inicio"><div class="nav-btn">Inicio</div></a>
        <!--<button class="nav-btn">Portfolio</button>-->
        <a href="https://www.francodonato.tk/#habilidades"><div class="nav-btn">Habilidades</div></a>
        <a href="https://www.francodonato.tk/#contacto"><div class="nav-btn">Contacto</div></a>
    </div>
    <div class="nav-menu">
        <i class="icon-menu" [ngStyle]="estiloBtnMenu" (click)="mostrarMenu()"></i>
        <div class="btns-menu" [ngStyle]="estiloMenu">
            <a href="https://www.francodonato.tk/#inicio"><div  class="btn-menu" (click)="cerrarMenu()">Inicio</div></a><div class="exit-menu"><i class="icon-cancel" (click)="cerrarMenu()"></i></div>
            <a href="https://www.francodonato.tk/#habilidades"><div class="btn-menu" (click)="cerrarMenu()">Habilidades</div></a>
            <a href="https://www.francodonato.tk/#contacto"><div class="btn-menu" (click)="cerrarMenu()">Contacto</div></a>
        </div>
    </div>
</div>