$blacky: #1e1e1e;
$blackyOp: rgba(30, 30, 30, 0.3);
$cyan: #00FFFF;
$cyanOp: rgba(0, 255, 255, 0.3);
$ivory: #FFFFF0;

.presentacion{
    display: flex;
    background-image: url(../../assets/img/code3.png);
    background-size: cover;
    box-shadow: 0 0 5px 5px $blacky inset;
    border-radius: 2vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.presentacion-img{
    display: flex;
    position: relative;
    justify-content: center;
    width: 40vw; 
    margin: 0em 1vw 0em 1vw;
    animation:  movePhoto 1s 0.2s;/*,
                floatingPhoto 2s infinite 1.5s ease-in-out alternate,
                moveShadow 2s infinite 1.5s ease-in-out alternate;*/
}

.presentacion-img img{
    display: flex;
    width: 100%;
    height: 100%;    
    border-radius: 100%;
    //box-shadow: 0px 0px 5px 5px black;
}

.presentacion-info{
    color: $ivory;
    text-shadow: 2px 2px 0px $blacky, 1px 1px 2px $blacky, -1px -1px 2px $cyan;
    width: 50vw;
}

.presentacion-info p{
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
}

.container-btn{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.cv-btn{
    display: inline;
    color: $ivory;
    padding: 1.5vw;
    font-size: 5vw;
    letter-spacing: 8px;
    border: solid $blacky 3px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 0.3s;
}

.cv-btn:hover{
    color: $blacky;
    border-color: $cyan;
    background-color: $cyanOp;
    text-shadow: 2px 2px 0px $ivory, 1px 1px 2px $ivory, -1px -1px 2px $cyan;
    box-shadow: 0 0 15px 0px $cyan;
    transform: scale(1.1);
}

@keyframes movePhoto {
    0%{left: -100%;}
    100%{left: 0%;}
}

@keyframes floatingPhoto {
    0%{top: 0vh;}
    100%{top: 5vh;}
}

@keyframes moveShadow {
    0%{box-shadow: 0px 0px 5px 5px black;border-radius: 100%;}
    100%{box-shadow: 0px 5px 5px 5px black;border-radius: 100%;}
}

@media (max-width: 1024px) {
    .presentacion{
        display: block;
    }

    .presentacion-img{
        margin: 0;
        padding-top: 7.6vh;
        width: 100vw;
        margin-bottom: 2vh;
    }

    .presentacion-img img{
        width: 40vw;
    }

    .presentacion-info{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90vw;
    }
    .container-btn{
        padding-top: 2vh;
    }
 }

 @media (max-width: 768px) { 
    .presentacion-img img{
        width: 60%;
    }
    .presentacion-info p{
        font-size: 3.2vh;
        text-align: center;
    }
    .container-btn{
        padding-top: 5vh;
    }
    .cv-btn{
        font-size: 8vw;
        letter-spacing: 6px;
    }
 }

 @media (max-width: 480px) {
    .presentacion-img img{
        width: 90%;
    }

    .presentacion-info{
        width: 95vw;
    }

    .presentacion-info p{
        font-size: 3.2vh;
        text-align: center;
    }
    .cv-btn{
        padding: 1.5vh;
    }
 }