.habilidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--ivory);
    background-color: transparent;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.habilidades h1{
    display: flex;
    position: absolute;
    text-align: center;
    top: 7.5vh;
    align-self: center;
    font-size: 7vh;
    text-shadow: 0px 0px 5px #0ff;
}

.carousel {
    display: flex;
    padding-top: 20vh;
    width: 200%;
    margin: auto;
    margin-left: -33.333vw;
} 

.carousel-item img{
    width: 33.333vw;
    height: 33.333vw;   
    object-fit: contain;
    transition: 0.3s 0.15s;
}

.info-img{
    display: flex;
    justify-content: center;
    position: relative;
    top:-50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s 0.3s;
}

.info-img p{
    text-align: center;
    font-size: 1.8vw;   
    font-weight: bold;
}

.carousel-item:hover .info-img{
    opacity: 1;
    transform: translateY(-5vh);
}

.carousel-item:hover img{
    box-shadow: 0 0 5px 0px var(--ivory);
    opacity: 0.3;
    transform: scale(0.9, 0.9) translateY(-5vh);
}

.carousel-item img:hover .btn{
    opacity: 0;
}

.btn:hover{
    opacity: 1;
    background: rgba(0, 0, 0, 0.75);
}

.btn{
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    background: transparent;
    height: 33.333vw;
    font-size: 8vw;
    opacity: 0.5;
    transition: 0.5s 0.3s;
}

.btn-derecha{
    right: 0px;
}

.btn-izquierda{
    left: 0px;
}

i{
    cursor: pointer;
}

i:hover{
    transform: scale(1.05, 1.05);
    text-shadow: 0px 4px 4px rgba(0, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .carousel {
        width: 300%;
        margin-left: -50vw;
    }
    .carousel-item img{
        width: 50vw;
        height: 50vw;   
    }
    .btn{
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .habilidades h1{
        font-size: 12.5vw;
    }
    .carousel {
        width: 600%;
        margin-left: -100vw;
    }
    .carousel-item img{
        width: 100vw;
        height: 100vw;   
    }
    .btn{
        height: 100vw;
    }
    .info-img p{
        position: relative;
        font-size: 3.5vw;
    }
}