:root {
  --blacky: #1e1e1e;
  --blackyOp: #1e1e1e3b;
  --ivory: #FFFFF0;
}

* {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

html {
    width: 100%;
    font-size: 62.5%;
    background-image: linear-gradient(180deg, var(--blacky), 75%, rgb(18, 63, 63));
    scroll-behavior: smooth;
    overflow-x: hidden;
}

//cambio scrollbar

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* 'via' */
  ::-webkit-scrollbar-track {
    background: var(--blacky); 
  }
   
  /* bar */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* bar on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }